@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Maven Pro', sans-serif;
}

.active{
  color: rgb(34 ,211 ,238)!important;
  font-size: 16px!important;
  background-color: transparent!important;
  border-radius: 0;
  font-weight: 600;
  border-bottom: 3px solid rgb(34 ,211 ,238)!important;
}

.pending{
  font-size: 16px!important;
  transition: 1s ease-out;
}
ul li:hover a{
  border: none!important;
  border-radius: 0!important;
  background-color: transparent!important;
  border-bottom: 3px solid rgb(34 ,211 ,238)!important;

}