@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Maven Pro', sans-serif;
}

.navmenu a {
  font-size: 16px !important;
  transition: 1s ease-out;
  font-weight: 600 !important;

}

.navmenu .active {
  color: rgb(34, 211, 238) !important;
  background-color: transparent !important;
  border-radius: 0;
  font-size: 16px !important;
  font-weight: 600 !important;

  border-bottom: 3px solid #22d3ee !important;
}


.navmenu li:hover a {
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border-bottom: 3px solid rgb(34, 211, 238) !important;

}

.sidemenu a {
  transition: .5s;
  font-weight: 600 !important;
  border-radius: 0 !important;
  padding-left: 20px !important;
}

.sidemenu .active {
  color: black !important;
  background-color: #22d3ee !important;
  border-radius: 0 !important;
  text-align: center !important;
  padding-left: 20px !important;
  border-start-end-radius: var(--rounded-badge, 1.9rem) !important;
  border-end-end-radius: var(--rounded-badge, 1.9rem) !important;
  font-weight: 600 !important;
}


.sidemenu li:hover a {
  border: 1px solid  #22d3ee !important;
  border-radius: 0 !important;
  background-color: white !important;
  color: black !important;
  border-start-end-radius: var(--rounded-badge, 1.9rem) !important;
  border-end-end-radius: var(--rounded-badge, 1.9rem) !important;
  font-weight: 600 !important;
}