@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Lato', sans-serif;
}


.navmenu a {
  outline: 0 !important;
  border-radius: 0 !important;
  border-bottom: 3px solid white !important;
  font-size: 16px !important;
  transition: 1s ease-out;
  font-weight: 500 !important;
}

.navmenu .active {
  color: rgb(34, 211, 238) !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-bottom: 3px solid #22d3ee !important;
}

.navmenu li:hover a {
  border-radius: 0 !important;
  background-color: transparent !important;
  border-bottom: 3px solid rgb(34, 211, 238) !important;
}

.sidemenu a {
  transition: .5s;
  justify-content: start!important;
  text-align: center !important;
  font-weight: 500 !important;
  border: 1px solid white !important;
  padding-left: 20px !important;
  border-radius: 0.25rem!important;
}

.sidemenu .active {
  color: black !important;
  text-align: center !important;
  background-color: #22d3ee !important;
  border-radius: 0 !important;
  text-align: center !important;
  padding-left: 20px !important;
  border-radius: 0.25rem!important;
  font-weight: 600 !important;
}


.sidemenu li:hover a {
  outline: 0 !important;
  text-align: center !important;
  border: 1px solid #22d3ee !important;
  border-radius: 0 !important;
  background-color: white !important;
  color: black !important;
  border-radius: 0.25rem!important;
  font-weight: 600 !important;
}